<div class="back-body">
  <div class="container text-center">
    <div class="form justify-content-center">
      <h1>New reservation</h1>
      <%=simple_form_for [@flat, @reservation],
        html: {
          data: {
            controller: 'flatpickr'
          }
        } do |f| %>
        <div class="row justify-content-md-center">
          <div class="col-8">
            <%= f.input :start_date, as: :string, input_html: {
              data: {
                flatpickr_target: 'startDateInput',
              }
            } %>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-8">
            <%= f.input :end_date, as: :string, input_html: {
              data: {
                flatpickr_target: 'endDateInput'
              }
            } %>
          </div>
        </div>
        <p>
        <%end%>
        <p>
    </div>
  </div>
</div>
