.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(212, 163, 115);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: rgb(250, 237, 205);
  color: white;
}

.slogan{
  text-align: center;
}
